<div class="create-user">

  <%= form_for :user, url: '/sessions' do |f|%>
    <div class="form-field">
      <%= f.label :username %></br>
      <%= f.text_field :username, autofocus: true, required: true%>
    </div>

    <div class="form-field">
      <%= f.label :password %><br>
      <%= f.password_field :password, required: true%>
    </div>

    <div class="action">
      <%= f.button :submit, class: 'btn'%>
    </div>
  <% end %>

</div>
