<div class="documents">
  <div>
    <% if flash[:notice] %>
     <p class="delete">
       <%= flash[:notice]%>
     </p>
    <% end %>
  </div>
  <% @documents.each do |doc| %>
    <article class="doc">
      <%= link_to doc do %>
      <h4><%= doc.title%></h4>
      <p>
        <%= truncate(doc.body, length:  100) %>
      </p>
      <p class='time'><%= time_ago_in_words(doc.created_at)%> ago</p>
      <% end %>
    </article>
  <% end %>
</div>
