<div class="one-document">
  <div>
    <% if flash[:notice] %>
     <p class="notice">
       <%= flash[:notice]%>
     </p>
    <% end %>
  </div>
  <article class="">
    <h4><%=  @document.title%></h4>
    <p><%= @document.body%></p>
    <div class="buttons">
      <%= link_to "Delete" , document_path(@document), method: :delete, class: 'button'%>
      <%= link_to "Edit", edit_document_path(@document), class: 'button'%>
    </div>
  </article>
</div>
