<!DOCTYPE html>
<html>
  <head>
    <title>Storage</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <div class='navigation'>
      <aside class="left">Storage</aside>
      <aside class="right">
        <ul>
          <% if login? %>
            <li><%= link_to "Home", root_path%></li>
            <li><%= link_to "Create Document", new_document_path%></li>
            <li><%= link_to "Logout", sessions_logout_path%></li>
          <% else %>
            <li><%= link_to "Register", users_new_path%></li>
            <li><%= link_to "Login", sessions_login_path%></li>
          <% end %>
        </ul>
      </aside>
    </div>
    <%= yield %>
  </body>
</html>
